@media screen and (max-width: 480px) {
    .logo {
        font-size: 2.1rem;
        width: 60vw;
        margin: 4px auto;
    }
    .container {
        padding: 6px;
        margin: 18px auto;
        font-size: 26px;
    }
    .container .container-h1 {
        font-size: 32px;
    }
    .container .container-p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .inflater {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .btn-f {
        width: 80%;
    }
}



@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
        font-size: 2.1rem;
        width: 40vw;
        margin: 6px auto;
    }
    .container {
        padding: 12px;
        margin: 14px auto;
        font-size: 26px;
    }
    .container .container-h1 {
        font-size: 32px;
    }
    .container .container-p {
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .btn-f {
        width: 70%;
    }
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        font-size: 1rem;
        width: auto;
        margin: 12px auto;
    }
    .container {
        width: 90%;
        padding: 0;
        margin: 34px auto;
        font-size: 28px;
    }
    .container .container-h1 {
        font-size: 32px;
    }
    .container .container-p {
        margin-top: 19px;
        margin-bottom: 19px;
    }
}
@media screen and (min-width: 1025px) {
    body {
        padding: 0 8%;
    }
    .logo {
        font-size: 1rem;
        width: auto;
        margin: 12px auto;
    }
    .container {
        width: 90%;
        padding: 0;
        margin: 34px auto;
        font-size: 28px;
    }
    .container .container-h1 {
        font-size: 32px;
    }
    .container .container-p {
        margin-top: 19px;
        margin-bottom: 19px;
    }
}
