/*
 *  animations styles
 *
 **/
.opacity {
    opacity: .7;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.1,0.2,0.2,0.1);
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.1,0.2,0.2,0.1);
}
