/*
 *  variables
 */
:root {
    --color-text-content-white: #f1eaea;
    --color-bg-pink: #e93cc1;
    --color-border-pink-dark: #c331a1;
    --color-bg-default: #ebb9b9;
    --color-bg-black-opacity: rgba(0,0,0,0.4);
    --color-gray: #9b698f;
}
/*
 *  reset default styles
 */
* {
    margin: 0;
    padding: 0;
    line-height: normal;
    word-spacing: initial;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-indent: initial;
    letter-spacing: normal;
}
body {
    position: relative;
    width: 100%;
    color: var(--color-text-content-white);
    background-color: var(--color-bg-default);
    background-image: url(https://avatars.mds.yandex.net/i?id=83a6dfaf2d10f11175c0664515351590c3527429-8878159-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
input:focus, input:selected, input:checked, button:active, textarea:focus {
    outline: none;
}
input::webkit-input-placeholder {
    font-style: normal;
    text-indent: initial;
}


.logo {
    font-family: Caveat, sans-serif;
    font-weight: bold;
    background-color: var(--color-bg-black-opacity);
    color: var(--color-bg-pink);
    padding: 4px 24px;
    border: 1px solid var(--color-border-pink-dark);
    margin: 0 auto;
    text-align: center;
}
/*.menu {}
.menu-item {}
*/

.container {
    background-color: var(--color-bg-pink);
}
.container .container-h1 {
    letter-spacing: 3px;
}
.container .container-p {
    margin-top: 19px;
    margin-bottom: 19px;
}
.b-label {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 3px;
}
.b-label sup {
    font-size: 1.3rem;
}
.cursive {
    font-family: Caveat, sans-serif;
    text-align: right;
    font-size: 45px;
}
.inflater {
    width: 100%;
}
.btn-f {
    display: flex;
    display: -webkit-flex;
    place-items: center;
    -webkit-place-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 70px;
    border: 3px solid var(--color-border-pink-dark);
    border-radius: 10px;
    color: var(--color-text-content-white);
    background-color: var(--color-border-pink-dark);
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: 1;
    margin: 4px auto;
}
.btn-f:hover {
    cursor: pointer;
}
.btn-f:active {
    background-color: var(--color-gray);
}
.bg-hide {
    background-color: transparent;
}
input[disabled] {
    opacity: .4;
}
.q-description {
    margin-bottom: 6px;
}
.list-element {
    margin-top: 6px;
    display: block;
}
